*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
header{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    /* border: 1px solid black; */
    align-items: center;
    
}

.irshad{
    /* background-color: blue; */
    background-color: #1a1a1a;
}
header img{
    width: 30%;
    margin-left: 50px;
}
header button{
    padding: 10px 20px;
    margin-right:15px;
    background-color: orangered;
}
nav ul li{
    list-style: none;

}
ul {
    display: flex;
   gap: 40px;

}
ul a {
    font-size: 25px;
    text-decoration: none;

}
ul a:hover{
    background-color: aqua;
}




.menu-icon{
    display: none;
    font-size: 30px;
    cursor: pointer;
}

#menu-toggle{
    display: none;
}

/* ===== TABLET (768px and below) ===== */
@media (max-width: 768px){
    nav ul a{
        font-size: 20px;
    }

    header img{
        margin-left: 20px;
    }
}

/* ===== MOBILE (480px and below) ===== */
@media (max-width: 480px){
    header{
        height: auto;
        padding: 15px;
    }

    /* Show hamburger */
    .menu-icon{
        display: block;
    }

    nav ul{
        flex-direction: column;
        position: absolute;
        top: 100px;
        left: 0;
        width: 100%;
        background: #f2f2f2;
        display: none;
        text-align: center;
        padding: 20px 0;
    }

    nav ul li{
        margin: 15px 0;
    }

    /* Toggle menu */
    #menu-toggle:checked ~ ul{
        display: flex;
    }

    header button{
        padding: 8px 15px;
        font-size: 14px;
    }

    header img{
        width: 90px;
        margin-left: 10px;
    }
}
h4{
    font-size: 28px;
    color: gray;
}
h3{
    font-size: 35px;
    color: rgb(207, 158, 158);
    
}
h1{
    font-size: 39px;
    color: orangered;
}

.section2{
    width: 100%;
    display: flex;
    height: 900px;
    justify-content: space-around;
    align-items: center;
    


}


.typing {
    overflow: hidden;
    white-space: nowrap;
    width: 0;
    animation: typing 3s steps(20) forwards,
     blink 0.7s infinite;
     /* border-right: 1px solid white; */
}

/* different speed if needed */
.role {
   animation: typing 4s steps(22) forwards,
  blink 0.7s infinite;
}

@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}

@keyframes role {
    from { width: 0 }
    to { width: 100% }
}
@keyframes blink {
  50% { border-color: transparent; }
}


























.child1{
     display: flex;
     flex-direction: column;
     gap: 50px;
     /* border: 1px solid white; */
     /* width: 50% */
}
.images1{
    display: flex;
    gap: 50px;
}
.large{
    height: 100px;
    border: 1px solid white;
    display: flex;
    /* justify-content: space-around; */
    align-items: center;
    color: white;
}
.small{
    height: 80px;
    /* border: 1px solid black; */
    /* border-color: antiquewhite; */
    border-left: 2px solid gray;
    /* border: 1px solid white; */
    display: flex;
    gap: 20px;
    flex-direction: column;
    margin: auto;
    
    


}




.child2{
  border: 1px solid white;
  border-radius: 50px  50px  10px 10px ;


}


.child2 img:hover{
    transform: scale(1.09);
    transition-duration: 2s;
    box-shadow: 0px 0px 5px 5px orangered;
    
}
.btn{
    display: flex;
    gap: 10px;
}
.btn button{
    padding: 15px 25px;
}
.orange{
    background-color: orangered;
}


.section3{
    width: 100%;
    height: 800px;
    border: 1px solid black;
    /* display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* justify-content: space-centre; */
    gap: none; 

/* border: 1px solid white;/ */

 

}
.child3_2{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* padding: 0%; */
    justify-content: center;
    align-items: center;
    /* border: 1px solid white; */


}







.child3_2:hover .card {
    filter: blur(4px);
    transition: .9s;
}

.child3_2:hover .card:hover {
    filter: blur(0);
    transform: scale(1.09);
}






.child3_1{
    text-align: center;
    color: white;
}
h5{
    font-size: 35px;
}
.card{
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 200px;
    border: 1px solid black;
    text-align: center;
    margin-top: 50px;
    background-color: gray;
    border-radius: 25px;
    gap: 20px;
    margin-left: 50px;

}
.child2 img{
    border-radius: 50%;
    height: 600px;
    /* width: 50%; */
    border: 10px solid rgb(173, 115, 7);
}


.card:hover{
    transform: scale(1.2);
    transition-duration: 2s;
    box-shadow: 0px 0px 6px 8px orange;
}
.card img{
    width: fit-content;
    margin: auto;
}
.section4{
    width: 100%;
    height: 1100px;
    display: flex;
    flex-direction: column;
    gap: 100px;
    color: white;


}
.child4_1{
    width: 100%;
    height: 150px;
    text-align: center;
}
.child4_2{
    display: flex;
    justify-content: space-around;
    
    
    /* width: 100%; */

}
.child4_3_1 img{
    height: 400px;
}

.child4_3_2{
    width: 40%;
}
.child4_3_2 button{
    padding: 15px 30px;
    margin-top: 100px;
}

.crcl2{
    display: flex;
    flex-direction: column;
    /* text-align: center; */
}
.circle{
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: space-evenly;

    

}
.circle1{
    /* border: 1px solid black; */
    width: 5%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    height: 150px;
}

.crcl1{
    /* border: 1px solid black; */
    height: 100px;
    width: 100%;
    border-radius: 50%;
    border: 10px solid orange;
    background-color: black;
    text-align: center;
    

}

.contact{
     width: 100%;
    height: 470px;
    /* border: 1px solid white; */
}
.contact1{
    text-align: center;
    display: flex;
    flex-direction: column;
    color: white;
    
   
}


.container {
  width: 90%;
  max-width: 800px;
  margin: auto;
  /* border: 1px solid white; */
}

.contact-form {
  background-color: #1a1a1a;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
}

h2 {
  text-align: center;
  font-size: 24px;
  margin-bottom: 5px;
}

.subtitle {
  text-align: center;
  font-size: 14px;
  color: #aaa;
  margin-bottom: 20px;
}

.form-row {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
}

.input-field {
  width: 50%;
  padding: 10px;
  background-color: #333;
  border: none;
  border-radius: 4px;
  color: #fff;
  font-size: 14px;
}

.textarea {
  resize: none;
  height: 100px;
}

.submit-btn {
  display: block;
  margin: 0 auto;
  padding: 10px 20px;
  background-color: transparent;
  border: 1px solid #fff;
  color: #fff;
  cursor: pointer;
  border-radius: 4px;
  font-size: 14px;
}

.submit-btn:hover {
  background-color: #444;
}
footer{
    width: 100%;
    height: 300px;
    border: 1px solid black;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 50px;
    color: white;
    /* border: 1px solid white; */

}
.foot1{
    /* display: flex; */
    /* text-align: center; */
    word-spacing: 50px;
}
.foot2{
    display: flex;
    gap: 50px;
    justify-content: center;
    /* border-top: 2px solid black; */
    align-items: center;
    height: 100px;
    border-top: 1px solid gray;
    width: 50%;
    margin: auto;
}




.addition{
  width: 100%;
  /* height: 400px; */
  border: 1p solid rgb(5, 5, 5);
  display: grid;
  grid-template-columns: repeat(3,1fr);
  height: 900px;
  justify-content: center;

 
}
.figma{
    width: 90%;
  border: 1px solid black;
   text-align: center;
   border-radius: 10px;
   margin: 40px;
   gap: 10px;
}
.figma img{
    width: 90%;
    height: 200px;
     border-radius: 10px;

}
.figma img:hover{
  transform: scale(1.09);
  box-shadow: 0px 0px 10px 10px orange;
  transition: transform 2s ease-in-out;


}


/* Jab section hover ho → sab blur */
.addition:hover .figma{
  filter: blur(3px);
  transition: 0.3s;
}

/* Jis card pe hover ho → clear */
.addition .figma:hover{
  filter: blur(0);
  transform: scale(1.05);
  /* box-shadow: 0px 0px 15px blueviolet; */
}



@media (max-width: 500px){
  .addition{
    grid-template-columns: 1fr;
    height: auto;
  }
  .figma:hover{
  transform: scale(1.05);
  box-shadow: 0px 0px 15px orange;

  
}
/* Jab section hover ho → sab blur */
.addition:hover .figma{
  filter: blur(3px);
  transition: 0.3s;
}

/* Jis card pe hover ho → clear */
.addition .figma:hover{
  filter: blur(0);
  transform: scale(1.05);
  /* box-shadow: 0px 0px 15px blueviolet; */
}

}

@media screen and (min-width: 501px) and (max-width: 768px){
  .addition{
    grid-template-columns: repeat(2,1fr);
  }

  

  /* Jab section hover ho → sab blur */
.addition:hover .figma{
  filter: blur(3px);
  transition: 0.3s;
}

/* Jis card pe hover ho → clear */
.addition .figma:hover{
  filter: blur(0);
  transform: scale(1.05);
  /* box-shadow: 0px 0px 15px blueviolet; */
}
}


@media screen and (min-width: 769px) and (max-width: 991px){
  .addition{
    grid-template-columns: repeat(3,1fr);
  }

  .addition:hover .figma{
  filter: blur(3px);
  transition: 0.3s;
}

/* Jis card pe hover ho → clear */
.addition .figma:hover{
  filter: blur(0);
  transform: scale(1.05);
  /* box-shadow: 0px 0px 15px blueviolet; */
}

}


@media (max-width: 576px) {

   header {
    background-color: white;
   }

  h1 { font-size: 26px; }
  h3 { font-size: 22px; }
  h4 { font-size: 18px; }

  /* HERO SECTION */
  .section2 {
    flex-direction: column;
    height: auto;
    padding: 20px;
    gap: 40px;
  }

  /* .child2 img:hover{
    transform: scale(1.09);
    transition-duration: 2s;
    box-shadow: 0px 0px 5px 5px orangered;
    
} */
  .child1 {
    align-items: center;
    text-align: center;
  }

  .images1 {
    gap: 20px;
  }

  .btn {
    flex-direction: column;
    width: 100%;
  }

  .btn button {
    width: 100%;
  }

  .large {
    flex-direction: column;
    height: auto;
    gap: 20px;
    padding: 20px;
  }

  .small {
    border-left: none;
    border-top: 2px solid gray;
    width: 100%;
    text-align: center;
  }

  .child2 img {
    width: 90%;
    height: auto;
  }

  /* SERVICES */
  .section3 {
    height: auto;
    padding: 20px;
  }

  .child3_2 {
    grid-template-columns: 1fr;
  }

  .card {
    width: 100%;
    margin-left: 0;
  }

  /* ABOUT */
  .section4 {
    height: auto;
    padding: 20px;
  }

  .child4_2 {
    flex-direction: column;
    gap: 30px;
    align-items: center;
  }

  .child4_3_1 img {
    width: 90%;
    height: auto;
  }

  .child4_3_2 {
    width: 100%;
    text-align: center;
  }

  .child4_3_2 button {
    margin-top: 30px;
  }

  /* SKILLS CIRCLE */
  .circle {
    flex-wrap: wrap;
    height: auto;
    gap: 20px;
  }

  .circle1 {
    width: 40%;
  }

  /* CONTACT */
  .contact {
    height: auto;
    padding: 20px;
  }

  .form-row {
    flex-direction: column;
  }

  .input-field {
    width: 100%;
  }

  /* FOOTER */
  footer {
    height: auto;
    padding: 20px;
  }

  .foot2 {
    flex-direction: column;
    width: 100%;
    gap: 10px;
  }
}





@media (min-width: 577px) and (max-width: 991px) {

  .section2 {
    flex-direction: column;
    height: auto;
    gap: 50px;
  }

  .child3_2 {
    grid-template-columns: repeat(2, 1fr);
  }

  .card {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }

  .child4_2 {
    flex-direction: column;
    gap: 40px;
  }

  .child4_3_2 {
    width: 80%;
    margin: auto;
  }

  .circle1 {
    width: 20%;
  }

  .form-row {
    flex-direction: column;
  }

  .input-field {
    width: 100%;
  }
}
.card:hover{
    transform: scale(1.09);
    transition-duration: 2s;
    box-shadow: 0px 0px 6px 8px orange;
}